.hero {
  height: calc(100vh - 7rem);
  position: relative;
  z-index: 2;

  @include bp-u(large) {
    height: 60vh;
  }

  &__img-container {
    position: absolute;
    width: 100vw;
    top: 0;
    left: -5vw;
    height: 33rem;
    background: url('../../images/bg-intro-mobile.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0% 50%;

    @include bp-u(large) {
      background: url('../../images/bg-intro-desktop.svg');
      left: 50%;
      width: 50vw;
      height: 100%;
      background-position: 9% 60%;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    max-width: 57.5rem;
    transform: translateY(-1.5rem);
    margin: 0 auto;
    object-fit: cover;
    object-position: left bottom;

    @include bp-u(large) {
      height: auto;
      max-width: 65rem;
      width: auto;
      transform: translate(21%, -13%);
    }
  }

  &__info {
    transform: translateY(32rem);
    display: grid;
    align-content: center;
    justify-items: center;
    text-align: center;
    height: calc(100vh - 38rem);
    @include bp-u(large) {
      width: 45%;
      max-width: 44rem;
      text-align: left;
      transform: translateY(0);
      height: 100%;
      justify-items: left;
    }
  }

  &__text {
    max-width: 54rem;
    margin: 0 auto 3rem;

    @include bp-u(large) {
      max-width: none;
    }
  }
}
